## Basic introduction to pyodbc & working with the azure sql database

In [24]:
import pyodbc
import myPrivates

In [15]:
server = myPrivates.server
database = myPrivates.dbName
username = myPrivates.user
password = myPrivates.password
#open connection with sql server
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+password)
#making cursor easier to access 
cursor = cnxn.cursor()

Below creates a table executable for the cursor using an sql query string

In [6]:
cursor.execute('''
 CREATE TABLE PeopleInfo (
        PersonId INTEGER PRIMARY KEY,
        FirstName TEXT NOT NULL,
        LastName  TEXT NOT NULL,
        Age INTEGER NULL,
);
''')

For the changes to take effect the cursor executable must be commited to the connection

In [7]:
cnxn.commit()

Insert values to the table to test

In [19]:
cursor.execute('''
                INSERT INTO PeopleInfo (PersonId, FirstName, LastName, Age)
                VALUES
                (1,'Bob','Smith', 55),
                (2, 'Jenny','Smith', 66)
                ''')

commit insertions

In [20]:
cnxn.commit()

Make a request query to execute to the cursor

In [21]:
cursor.execute('SELECT * FROM PeopleInfo')

The cursor then holds the result of the query and must be looped through to print the data gathered

In [22]:
for row in cursor:
    print(row)

(1, 'Bob', 'Smith', 55)
(2, 'Jenny', 'Smith', 66)

Close the connection once it is not in use

In [23]:
cnxn.close()